<div id="<%= dom_id job %>">
  <p>
    <strong>Name:</strong>
    <%= job.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= job.country_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= job.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= job.end_date %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= job.link %>
  </p>

</div>
