<div class="container-fluid first-div-home-seach">
  <div class="row">
    <div class="col-sm-12 home-welcome-text">
      <h1 class="text-center">Welcome to the Search Junior Engine</h1>
      <p class="text-center">Search By language,name,school our country</p>
    </div>

  </div>
  <div class="row">
    <div class="col-sm">
      <div class="input-group">
        <div class="form-outline d-flex">
          <i class="fa fa-search"></i>
          <input type="search" id="form1" class="form-control", placeholder="Search" />
        </div>
        <button type="button" class="btn home-search-btn">
          <i class="">Search</i>
        </button>
      </div>
    </div>
  </div>
  <div class="left-rounded-light"></div>
  <div class="right-rounded-light"></div>
</div>

<div class="container-fluid vip-list-main">
  <div class="row">
    <div class="col-sm vip-text p-5">
      <h1> Vip list Juniors </h1>
      <p>Discover here the juniors Available</p>
    </div>
  </div>
    <div class="container-fluid">
      <div class="row line-control-map-cards">
        <% @users.each do |user|%>
          <div class="col-sm-2 control-card m-0">
            <%= link_to user_url(user.id) do %>
              <div class="light-card-user">
                <div class="dark-card-image">
                  <div class="background-behind-card-user-img">
                    <% if user.avatar.attached? %>
                      <%= image_tag user.avatar, class: 'card-img-top user_card_image' %>
                    <% else %>
                      <img class="user_card_image" src="https://imgs.search.brave.com/XtLGLUDDvQfwcllc-bxO4UibpUaZVCc-b3LyEN-pq7Y/rs:fit:474:680:1/g:ce/aHR0cHM6Ly90YWJs/ZXNsYXdncm91cC5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MTUvMDYvd29tYW4u/cG5n" />
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="card-body user-desc">
                <h5 class="card-title"><%= user.first_name %>&nbsp<%= user.last_name %></h5>
                <p class="card-text card-status"><%= user.status %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>
