<div class="container-fluid first-div-home-seach">
  <div class="row">
    <div class="col-sm-12 home-welcome-text">
      <h1 class="text-center">Welcome to the Search Junior Engine</h1>
      <p class="text-center">Search By language,name,school our country</p>
    </div>

  </div>
  <div class="row">
    <div class="col-sm">
      <div class="input-group">
        <div class="form-outline d-flex">
          <i class="fa fa-search"></i>
          <input type="search" id="form1" class="form-control", placeholder="Search" />
        </div>
        <button type="button" class="btn home-search-btn">
          <i class="">Search</i>
        </button>
      </div>
    </div>
  </div>
  <div class="left-rounded-light"></div>
  <div class="right-rounded-light"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>



<% @users.each do |user|%>
    <%= link_to user_url(user.id) do %>
        <% if user.avatar.attached? %>
            <div class="card-home">
                <div class="inglobe-img">
                    <%= image_tag user.avatar, class: 'userimg-index' %>
                </div>
                <div class="inglobe-text">
                    <p><%= user.first_name %>&nbsp<%= user.last_name %></p>
                    <p class="user-status"><%= user.status %></p>
                </div>
            </div>
        <% else %>
            <div class="card-home">
                <div class="inglobe-img">
                    <img src="https://imgs.search.brave.com/ENTxUNsfzAy9tZ7HNVZWcEmOEn8tKSEAay0MBz3rE8M/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9mcmVl/cG5naW1nLmNvbS90/aHVtYi9tYW4vMTAt/bWFuLXBuZy1pbWFn/ZS5wbmc" class="userimg-index" alt="...">
                </div>
                <div class="inglobe-text">
                    <p><%= user.first_name %>&nbsp<%= user.last_name %></p>
                    <p class="user-status"><%= user.status %></p>
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>
