<div class="inglobe-bg-color">
    <div class=" teste">
        <div class="svg-image"></div>
        <div class="row line-text">
            <div class="col-lg-12 div-text-welcome">
                <div class="content-welcome">
                    <h1>Find your junior and get a better view of his profile !</h1>
                    <p>Search by skill, name and school</p>
                    <div class="w-100 d-flex main-search">
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control", placeholder="The Hacking Project" />
                        </div>
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row control-line-squares">
            <div class="col-sm-3 squares-home">
                <div class="row w-100 rowIMG">
                    <div class="mt-2 square_image"></div>
                </div>
                <h1 class="text-center mt-3 font-weight-bold text-white">Dev</h1>
                <h6 class="text-center font-weight-bold text-white">Juniors Developers from many different country</h6>
            </div>
            <div class="col-sm-3 squares-home">
                <div class="row w-100 rowIMG">
                    <div class="mt-2 square_image"></div>
                </div>
                <h1 class="text-center mt-3 font-weight-bold text-white">Junior</h1>
                <h6 class="text-center font-weight-bold text-white">Help a junior to improve the skills and be able to offer more for the market </h6>
            </div>
            <div class="col-sm-3 squares-home">
                <div class="row w-100 rowIMG">
                    <div class="mt-2 square_image"></div>
                </div>
                <h1 class="text-center mt-3 font-weight-bold text-white">Dev</h1>
                <h6 class="text-center font-weight-bold text-white">Juniors Developers from many different country</h6>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid div-partition ">
    <div class="w-100 div-partition-2">
        <div class="wave-1"></div>
    <div class="col-sm-3 search-profile"></div>
</div>

<div class="main-header-section-user">
    <h1 class="text-header-section-user">List of juniors registered on our website </h1>
</div>
<div class="container-fluid section-juniors-list">
    <div class="resize-list-user">
        <div class="row content-users-row">
            <% @users.each do |user|%>
                <div class="col-sm-2">
                    <%= link_to user_index_url(user.id) do %>
                            <% if user.avatar.attached? %>
                                <div class="card">
                                    <div class="inglobe-img">
                                        <img src="<%=(url_for(user.avatar))%>" class="userimg-index" alt="...">
                                    </div>
                                    <div id="container">
                                        <p id="name"><%= user.first_name %>&nbsp<%= user.last_name %></p>
                                        <p id="exp"><%= user.status %></p>
                                    </div>
                                </div>
                            <% else %>
                                <div class="card-home">
                                    <div class="inglobe-img">
                                        <img src="https://i.postimg.cc/sxLSvvHs/professional-women-with-dark-blue-shirt.jpg" class="userimg-index" alt="...">
                                    </div>
                                    <div class="inglobe-text">
                                        <p><%= user.first_name %>&nbsp<%= user.last_name %></p>
                                        <p><%= user.status %></p>
                                    </div>
                                </div>
                            <% end %>
                    <% end %>
                    </div>
            <% end %>
        </div>
    </div>
</div>




