<%= form_with model: @user, url: user_url(current_user.id), method: :patch, local: true, scope: :user do |f| %>
    <div class="text-center pb-3">
      <% if @user.avatar.attached? %>
        <img src="<%=(url_for(@user.avatar))%>" class="edit-img-user"
        alt="Avatar" />
      <% end %>
      <%= f.file_field :avatar %>
    </div>
    <div class="d-flex edit-form-control-1">
      <p>
        <%= f.text_field :first_name, placeholder:"First Name" %>
      </p>
      <p>
        <%= f.text_field :last_name, placeholder:"Last Name"  %>
      </p>
      <p>
        <%= f.text_field :address, placeholder:"Address"%>
      </p>
      <p>
        <%= f.select :country, CS.countries%>
      </p>
    </div>
    <div class="d-flex edit-form-control-2">
      <p>
      <%= f.text_field :status, placeholder:"Junior Full Stack" %>
      </p>
      <p>
      <%= f.text_field :phone, placeholder:"Phone number" %>
      </p>
    </div>
    <div class="text-center description-edit-area">
      <p>
        <%= f.text_area :description %>
      </p>
    </div>
  <%= f.submit 'Update user' %>
<% end %>
