<%= form_with(model: @degree) do |form| %>
  <% if @degree.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(degree.errors.count, "error") %> prohibited this degree from being saved:</h2>

      <ul>
        <% degree.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex">
    <div class="btn-add-degree-img">
      <i class="fa-duotone fa-rectangle-history-circle-plus"></i>
      <%= form.file_field :avatar, class: "button-select-img-degree" %>
    </div>
    <div class="btn-create-degree">
      <%= form.submit %>
    </div>
  </div>
<% end %>
