<%= form_with(model: coding_language) do |form| %>
  <% if coding_language.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(coding_language.errors.count, "error") %> prohibited this coding_language from being saved:</h2>

      <ul>
        <% coding_language.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="text-center d-flex form-languages">
    <%= form.file_field :img %>
    <div class="pb-2 pt-2">
      <%= form.text_field :name.downcase, placeholder: "language name" %>
      <%= form.submit "Add " %>
    </div>
  </div>
<% end %>
