<section class="bg-profile">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class=" rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <p class="text-muted mb-1"><%= @user.status%></p>
            <p class="text-muted mb-4"><%= @user.address%></p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
              <button type="button" class="btn btn-outline-primary ms-1">
                <%= link_to "Edit profile", edit_user_url(current_user.id) %>
              </button>
              <button type="button" class="btn btn-outline-primary ms-1">
                <%= link_to "Add Project", new_project_url(current_user.id) %>
              </button>


            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.first_name%>&nbsp<%= @user.last_name%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.email%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.phone%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Description</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.description%></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<div class="container">
  <div class="row">
    <% @projects.each do |project|%>

      <div class=" wrapper">
        <div class="overviewInfo">
          <div class="projectinfo">
            <div class="grouptext">
              <h3>Project name</h3>
              <p><%=project.name %></p>
            </div>
            <div class="grouptext">
              <h3>School</h3>
              <p><%= project.school %></p>
            </div>
            <div class="grouptext">
              <h3>Description</h3>
              <p><%= project.description %></p>
            </div>
            <div class="projectImage">
              <img src="https://imgs.search.brave.com/X711qaNbnTVSEiA0UqeMTrvTksMmumuauSr4mGbG87Q/rs:fit:800:665:1/g:ce/aHR0cHM6Ly9wbmdp/bWcuY29tL3VwbG9h/ZHMvZ2l0aHViL2dp/dGh1Yl9QTkcyMi5w/bmc" alt="product: ps5 controller image">
            </div>
          </div>
        </div>
        <div class="projectSpecifications">
          <h1> Description </h1>
          <p><%= project.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>





