<div class="col-sm-3 svg-white-profile"></div>
<div class="container bootstrap snippets bootdey pt-5">
    <div id="wrapper">
        <div id="carousel">
            <div id="content">
                <img
                    class="item"
                    src="https://imgs.search.brave.com/POGW2tbTWlc4x4zgT0wK1GO_erGmhsVcqt9Uo6YICWE/rs:fit:1024:860:1/g:ce/aHR0cHM6Ly9zZW9j/b20uYWdlbmN5L3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE5LzAy/L2Jvb3RzdHJhcC1z/dGFjay5wbmc"
                />
                <img
                    src="https://imgs.search.brave.com/_aIU16nzGl9AIMH8cqswbGR_ZzSSQG2yfi44_b4GNJM/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/YnJpdGVmaXNoLm5l/dC93cC1jb250ZW50/L3VwbG9hZHMvMjAx/OS8wNi9sb2dvLWph/dmFzY3JpcHQtMi5w/bmc"
                    class="item"
                />
                <img
                    src="https://imgs.search.brave.com/3miTAU4FsDdHq-NzYaJ5SJOJ-1z6gY0IqqgDIKJn4w4/rs:fit:252:300:1/g:ce/aHR0cHM6Ly93d3cu/YnVndHJlYXQuY29t/L2Jsb2cvd3AtY29u/dGVudC91cGxvYWRz/LzIwMTIvMDUvUnVi/eV9vbl9SYWlscy0y/NTJ4MzAwLnBuZw"
                    class="item"
                />
                <img
                    src="https://imgs.search.brave.com/NoSkYBLE3r08hy1hX7ARKlxOUqkzxAOeWAgBKqSQYJo/rs:fit:601:431:1/g:ce/aHR0cHM6Ly91c2Vy/Lm9jLXN0YXRpYy5j/b20vdXBsb2FkLzIw/MjEvMTEvMTAvMTYz/NjU0MjYzOTI1Ml9N/b2J5LWxvZ28ucG5n"
                    class="item"
                />
                <img
                    src="https://imgs.search.brave.com/zClVyPgyu8Sp0IMdh4cJeREjmm7ZKuu6xbj32n33QZw/rs:fit:512:512:1/g:ce/aHR0cHM6Ly9waWNz/LmZyZWVpY29ucy5p/by91cGxvYWRzL2lj/b25zL3BuZy8yMTMy/NDcwNzMxNTUzNzUw/MjA5LTUxMi5wbmc"
                    class="item"
                />
                <img
                    src="https://imgs.search.brave.com/C8WZMKaVb1QMWd9GCe0nN8ykvR4IEOsPHAxeyHS2K2g/rs:fit:1200:900:1/g:ce/aHR0cHM6Ly9zb3Vy/Y2Uucml6b3dza2ku/ZGV2L2NvbnRlbnQv/aW1hZ2VzLzIwMjEv/MDEvbm9kZWpzLnBu/Zw"
                    class="item"
                />
                <img
                    src="https://imgs.search.brave.com/yAWR8jXixavB2Wrb_IobPOxZifule3PVo_CGAzdhDig/rs:fit:760:506:1/g:ce/aHR0cHM6Ly93d3cu/bGVpeHVlLmNvbS91/cGxvYWRzLzIwMTkv/MDUvUG9zdGdyZVNR/TC1MT0dPLnBuZyE3/NjA"
                    class="item"
                />
                <img
                    src="https://imgs.search.brave.com/-dJVSERdpAiQ4EUPcvJuqLKS6lKLGnq_gTj9k95DLtU/rs:fit:1200:960:1/g:ce/aHR0cHM6Ly9tYWlu/YWNhZGVteS51YS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAxOS8w/Mi8xMjgwcHgtU2Fz/c19Mb2dvX0NvbG9y/LnN2Zy5wbmc"
                    class="item"
                />
                <img
                    src="https://imgs.search.brave.com/qC2jU35cts7_88olZsiFia6M6jWuKFCx__T1EkRd0HI/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9sb2dv/c3BuZy5vcmcvZG93/bmxvYWQvaHRtbC01/L2xvZ28taHRtbC01/LTE1MzYucG5n"
                    class="item"
                />
                <img
                    src="https://imgs.search.brave.com/mre0OiSaWByNCm3eUmcMgzI1ARMoJgUyPUX2w_3KR4s/rs:fit:418:418:1/g:ce/aHR0cHM6Ly9jb2Rl/ci5jbG90aGluZy9p/bWFnZXMvc3Rvcmll/cy92aXJ0dWVtYXJ0/L3Byb2R1Y3QvY3Nz/My1pY29uLnBuZw"
                    class="item"
                />
                <img
                    class="item"
                    src="https://imgs.search.brave.com/LvEqerADc4wCvjbM5SdoDW1VONsotInpeoCgdYYTEsc/rs:fit:210:190:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2E4LzFi/Lzc1L2E4MWI3NTg3/YTM1OTg2NDYxMDYz/NDk0MTAxNTQ1OWQy/LnBuZw"
                />
                <img
                    src="https://imgs.search.brave.com/voYGlyMdmQE-CKWY-BD3HC9sVgDGUBzD2-oq2a5-SQ8/rs:fit:768:768:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzFmL2Fm/LzA3LzFmYWYwNzkx/ZWFmZDhkOWZkYmUy/NGNhYmZlYzMwM2Nh/LnBuZw"
                    class="item"
                />
                <img
                    src="https://imgs.search.brave.com/WWsp1-7N13JdkpzhR1OyLzahinIn_F5a54M1i6rPf_4/rs:fit:404:404:1/g:ce/aHR0cHM6Ly9idWls/ZC5ydWJyaWsuY29t/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDIw/LzA0L3Bvc3RtYW4t/bG9nby5wbmc"
                    class="item"
                />
            </div>
        </div>
        <button id="prev">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
            </svg>
        </button>
        <button id="next">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
            </svg>
        </button>
        </div>
    <div class="row">
        <div class="profile-nav col-md-3">
            <div class="panel">
                <div class="user-heading round">
                    <% if @user.avatar.attached? %>
                        <img src="<%=(url_for(@user.avatar))%>" class="profile-user-img"
                        alt="Avatar" />
                    <% end %>
                    <h1><%= @user.first_name%>&nbsp<%= @user.last_name%></h1>
                    <p><%= @user.email%></p>
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
                    <li class="list-group-item">
                        <a class="button-edit" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Edit
                        </a>
                    </li>
                    <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li>
                    <li><a href="#"> <i class="fa fa-edit"></i> Edit profile</a></li>
                </ul>
            </div>
        </div>
        <div class="profile-info col-md-9">
            <div class="panel">
                <div class="bio-graph-heading">
                    Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <%= render partial: 'user/edit', format: :erb %>
                    </div>
                </div>
                <div class="panel-body bio-graph-info">
                    <div class="row">
                        <div class="bio-row">
                            <p><span>First Name </span>: Camila</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Last Name </span>: Smith</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Country </span>: Australia</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Birthday</span>: 13 July 1983</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Occupation </span>: UI Designer</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Email </span>: jsmith@flatlab.com</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Mobile </span>: (12) 03 4567890</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Phone </span>: 88 (02) 123456</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <div class="panel">
                            <h1 class="text-center">Projects</h1>
                            <ul class="list-group">
                                <% @projects.each do |project|%>
                                <li class="list-group-item d-flex justify-content-between">
                                    <%= project.name%>
                                    <div class="project-control-buttons">
                                    <%= link_to 'Delete', project_path(project.id),data: { "turbo-method": :delete },
                                    method: :delete, class:'' %>
                                    <%= link_to 'show', project_path(project.id) %>
                                    </div>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="panel">
                            <h1 class="text-center">Projects</h1>
                            <ul class="list-group">
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
