<div class="container bootstrap snippets bootdey pt-5">
    <div class="row">
        <div class="col mini-language-image d-flex justify-content-center">
            <% @languages_user.each do |language|%>
                <% if language.img.attached? %>
                    <img
                        class="item"
                        src="<%=(url_for(language.img))%>"
                    />
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="row mt-3">
        <div class="profile-data col-md-3">
            <div class="user-heading round">
                <% if @user.avatar.attached? %>
                    <img src="<%=(url_for(@user.avatar))%>" class="profile-user-img"
                    alt="Avatar" />
                <% end %>
            </div>
        </div>
        <div class="profile-user-info col-md-9">
            <div class="panel">
                <div class="bio-graph-heading">
                    <% if @user.description.nil? || @user.description === ""%>
                        <p class="user_description"> No description yet</p>
                    <% else %>
                        <p class="user_description"><%= @user.description%></p>
                    <% end %>
                </div>

                <div class="panel-body bio-graph-info mt-3">
                    <div class="row">
                        <div class="col-12 d-flex control-user-info">
                            <div class="col-4 each-user-info p-0">
                                <p class="data"><span>First Name : </span><%= @user.first_name%></p>
                            </div>
                            <div class="col-5 each-user-info">
                                <p class="data"><span>Last Name : </span> <%= @user.last_name%></p>
                            </div>
                            <div class="col-3 each-user-info">
                                <p class="data"><span>Birthday : </span> 13 July 1983</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex control-user-info">
                            <div class="col-4 each-user-info p-0 ">
                                <p class="data"><span>Lives in : </span><%= @user.country %></p>
                            </div>

                            <div class="col-8 each-user-info">
                                <% if @user.status.nil? || @user.status === ""%>
                                    <p class="data mt-2"> No status yet</p>
                                <% else %>
                                    <p class="data"><span>Occupation </span>: <%= @user.status%></p>
                                <% end %>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex control-user-info">
                            <div class="col-4 each-user-info  p-0">
                                <p class="data"><span>Phone </span>: <%= @user.phone%></p>
                            </div>
                            <div class="col-8 each-user-info">
                                <p class="data"><span>Email </span>: <%= @user.email%></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse mt-3" id="collapseExample">
                    <div class="card card-body edit-profile-dropdown">
                        <div class="languages-form">
                            <p class="text-center">Click over the language to delete it</p>
                            <div class="languages-names mb-2">
                                <% @languages_user.each do |language|%>
                                        <%= link_to coding_language_url(language.id),data: { "turbo-method": :delete },
                                            method: :delete do %>
                                            <div class="lg-name">
                                                <%= language.name %>
                                            </div>
                                        <% end %>
                                <% end %>
                            </div>
                            <p class="text-center">Create the language<br>Choose a image and the name of the language</p>
                            <%= render "form", coding_language: @coding_language %>
                        </div>
                        <p class="text-center">Choose a image for your profile</p>
                        <%= render partial: 'user/edit', format: :erb %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-0">
        <div class="row">
            <div class="col-sm-3 user-settings">
                <ul class="nav nav-pills nav-stacked settings-options">
                    <li class="button-edit" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <a href="#">Edit Profile</a>
                    </li>
                    <li><%= link_to "Add Project", new_project_url(current_user.id) %></li>
                </ul>
                <ul class="nav nav-pills nav-stacked settings-options">
                    <li><%= link_to "Add JOB", new_job_url %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <hr class="bg-white">
</div>

<div class="container pb-3 pl-0 control-create-degree">
    <%= render partial: 'user/form_degree', format: :erb %>
</div>

<section class="gallery-diploma">
    <div class="container-lg control-gallery">
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-4">
        <% @degrees.each do |degree| %>
            <% if degree.avatar.attached? %>
                <div class="col image-card-with-button-delete">
                    <img src="<%=(url_for(degree.avatar))%>" class="gallery-item" alt="gallery">
                    <% if current_user.id === degree.user_id%>
                    <%= link_to 'Delete', degree_path(degree.id),data: { "turbo-method": :delete },
                    method: :delete, class:'btn-delete-degree-profile' %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
</section>

<div class="container mb-5">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-sm-6 control-project">
            <div class="d-flex justify-content-center">
                <h1 class="text-center projects-title">Projects</h1>
            </div>
            <div class="col-md-12 mt-3 projects-part">
                <div class="panel">
                    <ul class="list-group text-white">
                        <% @projects.each do |project|%>
                            <li class="list-group-item d-flex">
                                <h5 class="m-0 project-name w-75"><%= project.name%></h5>
                                <div class="project-control-buttons d-flex">
                                    <% if current_user.id === User.find(params[:id]) %>
                                        <%= link_to 'Open', project_path(project.id), class:'show-btn' %>
                                    <% else %>
                                        <%= link_to 'Open', project_path(project.id), class:'show-btn' %>
                                        <%= link_to 'Delete', project_path(project.id),data: { "turbo-method": :delete },
                                        method: :delete, class:'delete-btn' %>
                                    <% end %>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6 control-jobs">
            <div class="d-flex justify-content-center">
                <h1 class="text-center projects-title">Jobs</h1>
            </div>
            <div class="col-md-12 mt-3 projects-part">
                <div class="panel">
                    <ul class="list-group text-white">
                        <% @jobs.each do |job|%>
                            <li class="list-group-item d-flex">
                                <h5 class="m-0 project-name w-75"><%= job.name%></h5>
                                <div class="project-control-buttons d-flex">
                                    <% if current_user.id === User.find(params[:id]) %>
                                        <%= link_to 'Open', job_path(job.id), class:'show-btn' %>
                                    <% else %>
                                        <%= link_to 'Open', job_path(job.id), class:'show-btn' %>
                                        <%= link_to 'Delete', job_path(job.id),data: { "turbo-method": :delete },
                                        method: :delete, class:'delete-btn' %>
                                    <% end %>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>



